body {
  margin: 0px;
  padding: 0px;
  background: #EF6D6D;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf);
}

.contenedor-card {
  width: 400px;
  height: auto;
  background: #E7FFF9;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.contenedor-card h2 {
  font-family: "Roboto-Medium";
  color: blue;
}

.contenedor-card p {
  font-family: "Roboto-Regular";
  color: blue;
}

.cont-img {
  width: 100%;
  height: 200px;
  background-size: 100%;
  background-position: center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.cont-img:hover {
  background-size: 160%;
}

#img-fruta-a {
  background-image: url(../img/imagen1.jpg);
}

#img-fruta-b {
  background-image: url(../img/imagen2.jpg);
}

.btn-card {
  background: #69C5E2;
  width: 180px;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  font-family: "Roboto-Light";
  color: blue;
}

.btn-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: 0 auto;
}
/*# sourceMappingURL=estilos.css.map */