@import 'variables';
body{
    margin: 0px;
    padding: 0px;
    background: $color-rojo
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto-Light.ttf);
}
.contenedor-card{
    width: 400px;
    height: auto;
    background: #E7FFF9;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    h2{
        font-family: "Roboto-Medium";
        color: $color-texto;       
    }
    p{
        font-family: "Roboto-Regular";
        color: $color-texto; 
      }
}


.cont-img{
    width: 100%;
    height: 200px;
    background-size: 100;
    background-position: center;
    transition: all 1s ease-in-out;
    &:hover{
        background-size: 160%;

    }
}
#img-fruta-a{
    background-image: url(../img/imagen1.jpg);
}
#img-fruta-b{
    background-image: url(../img/imagen2.jpg);
}
.btn-card{
    background: $color-azul-claro ;
    width: 180px;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    font-family: "Roboto-Light";
    color: $color-texto;
    &:hover{
        cursor: pointer;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);

    }
}
.text-center{
    text-align: center;
}
.mx-auto{
    margin: 0 auto;
}
